<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <title>Artezio code questionnaire</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/images/favicon.ico' %}"/>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script data-require="jquery@*" data-semver="2.0.3" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'main/js/base.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/footer.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% include "main/includes/header.html" %}
    <div id="wrapper">
        {% include "main/includes/navbar.html" %}
        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include "main/includes/footer.html" %}
</body>
</html>