{% extends "main/base.html" %}

{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/home_page.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
<h1 class="text-center">Juniors Lab</h1>
<h3 class="text-center">Цель и задачи</h3>
    <p>
        Основной целью JuniorsLab повышение уровня младших специалистов до соответствия должности "разработчик".
        В связи с этим основными задачами является создание условий и активная помощь молодым специалистам в их развитии
        и продвижении, а так же контроль и поощрение этого процесса. Для решения этих задач выделяются ресурсы в виде:
    </p>
    <ol>
        <li>Конкретного описания требований к знаниям и умениям младших специалистов для их четкой ориентации в развитии.</li>
        <li>Выделении времени на теоретическую и практическую подготовку.</li>
        <li>Выделении персонального ментора для помощи и обмена опытом/знаниями с периодическим контролем его деятельности.</li>
        <li>Практической работы на коммерческих или внутренних проектах для получения опыта.</li>
        <li>Стимулирование успешного развития материальным и другими видами поощрений.</li>
    </ol>
    <p>
        Основной задачей младшего специалиста является прохождение всех ступеней "Juniors Lab" и получение должности
        "разработчик". Ожидается что младший специалист будет постоянно развиваться активно и творчески расширяя круг
        знаний и умений. Ситуация когда младший специалист "готовится" к собеседованию за несколько дней до него вместо
        постоянного развития, является неприемлемой.
    </p>
</div>
{% endblock %}