{% load staticfiles %}

<footer class="page-footer">
    <hr>
    <div class="container text-center">
        <a href="https://vk.com/artezio" target="_blank"><img alt="" src="{% static 'main/images/social-logos/vk_icon.png' %}" /></a>
        <a href="https://www.facebook.com/Artezio.ru" target="_blank"><img alt="" src="{% static 'main/images/social-logos/facebook_icon.png' %}" /></a>
        <a href="https://www.instagram.com/arteziosoftware/" target="_blank"><img alt="" src="{% static 'main/images/social-logos/instagram-icon.png' %}" /></a>
    </div>
</footer>
